doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BeStyle
        style 
            include ./style/home.css
    body 
        header
            h1 BeStyle
            h3 "Be Cool, Be On Style..."
        main
            div#welcome
                h3 Chat with friends
                p create or make a channel
                a(href="./video")
                    button#videoBtn Make a Video Call
                h5
                form#name
                    input(placeholder="nickname", required, type="type")
                    button Save
                form#roomName
                    input(placeholder="room name", required, type="text")
                    button Enter Room
                h4 Open Rooms: 
                ul
            div#room
                h3
                p Start a conversation!
                ul 
                form#msg
                    input(placeholder="message", required, type="type")
                    button Send
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 