doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BeStyle
        style
            include ./style/video.css
    body 
        header 
            h1 Bestyle
            h3 "Be Cool, Be on Style..."
        main 
            div#welcome
                h3 Chat with friends
                p Create or make a channel
                a(href="./home")
                    button#videoBtn Make a Chat Room
                form
                    input(placeholder="room name", required, type="text")
                    button Enter Room
            div#call
                div#myStream
                    video#myFace(autoplay, playsinline, widht="400", height="400")
                    div#buttons
                        button#mute Mute
                        button#camera Turn camera off
                    p Cameras
                    select#cameras
                video#peerFace(autoplay, playsinline, widht="400", height="400")
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/video.js")  